.Dictionary {
    background-color: aliceblue;
    border-radius: 20px;
}

.Dictionary section{
    background-color: white;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(141, 141, 141, 0.2);
}